<!-- Footer -->

<footer class="w3-center w3-black w3-padding-16">
  Created by <a href="https://jonnyparko.github.io/Jonathan-Parker/" title="Jonathan Parker" target="_blank" class="w3-hover-text-green">Method.</a>
  <div class="w3-xlarge w3-section">
    <a href="https://www.facebook.com/MaggieforMO/" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
    <a href="https://twitter.com/MaggieforMO?lang=en" target="_blank"><i class="fa fa-twitter w3-hover-opacity"></i></a>
</div>
</footer>